/* *{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
} */

body{

}

h1{
    color:purple;
    margin-bottom: 25px;
}
#titulo{
    color: brown;
}



.A{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-color: paleturquoise;
    background-color: violet;
}

.container {
    width: 100px;
    height: 50px;
    background-color: orchid;
}

.container .A{
    font-size: 20px;
}

div.container{
    background-color: blue;
}

a{
    background-color: blue;
}

p{
    background-color: brown;
}

span{
    background-color: crimson;
}

div{
    background-color: fuchsia;
}

.alt{
    background-color: orange;
    margin: 20px;
    display: inline-block;
    margin-left: 50px;
    width: 20px;
    height: 20px;
}